[edit]
  command = "code"
  args = ["--wait"]
# [hooks.apply.pre]
#   command = "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.bitwarden-login.sh"
# [hooks.diff.pre]
#   command = "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.bitwarden-login.sh"
