[edit]
  command = "code"
  args = ["--wait"]
[hooks.read-source-state.pre]
  command = "{{ .chezmoi.sourceDir }}/.chezmoihooks/.install-password-manager.sh"
[hooks.apply.pre]
  command = "{{ .chezmoi.workingTree }}/scripts/.bitwarden-login.sh"
[hooks.diff.pre]
  command = "{{ .chezmoi.workingTree }}/scripts/.bitwarden-login.sh"
