#!/bin/bash

set -eufo pipefail

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.linux.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.linux.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.linux.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
