name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  nix:
    runs-on: ubuntu-latest
    name: Nix & chezmoi
    permissions:
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: Chezmoi apply
        run: |
          # bitwarden と連携しているファイルは CI では除外する
          echo ".ssh/*" >> home/.chezmoiignore.tmpl
          sh -c "$(curl -fsLS get.chezmoi.io)" -- init --apply -S .
